.jumbotron {
    height: 120px;
    padding-top: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.last_round {
    background-color: #eeaaaa;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.question {
    margin-top: 20px;
}

 .reward_icon {
     vertical-align: middle;
     margin: 0.5rem;
 }

 .winner_icon {
     vertical-align: middle;
     margin: 0.5rem;
 }

.final_score_buttons span {
    margin: 0.5rem;
}

.reward_button {
    display: inline-block;
}

.button_with_wrapping_text {
    white-space: nowrap;
}

.candidate_button {
    white-space: normal;
    display: inline-block;
}

 .btn-warning:not(:disabled):not(.disabled).active {
     background-color: #ffc107;
 }

 .btn-warning:not(:disabled):not(.disabled):not(.active) {
     background-color: #f7f7f7;
     color: #888888;
 }

div.next_round {
    margin-top: 30px;
    margin-bottom: 30px;
}

 .scoreboard {
    margin-top: 10px;
    margin-bottom: 10px;
 }
